# dependencies
node_modules/

# builds
dist/
build/
coverage/

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# mongo memory server binaries
.mongodb-binaries/

# turbo
.turbo/
